{% extends 'base.html.twig' %}

{% block title %}Ma Collection Yu-Gi-Oh!{% endblock %}





{% block body %}

<div class="jumbotron bg-primary text-white">
    <h1 class="display-4">Ma Collection Yu-Gi-Oh!</h1>
</div>
<p class="lead">Bienvenue sur mon site web personnel où je liste les cartes Yu-Gi-Oh! que je possède.</p>


<div class="card mt-4">
    <div class="card-header">
        <h2>Mes Cartes</h2>
    </div>

</div>

<footer class="mt-5 text-center">
    <p>&copy; {{ "now"|date("Y") }} Ma Collection Yu-Gi-Oh! Tous droits réservés.</p>
</footer>
{% endblock %}